$font-size: 1rem;

html {
    font-size: $font-size;
}

html, body, #map {
    margin: 0;
    height: 100%;
}


.legend-element {
    display: inline-block;
    width: 30px;
    height: 3px;
    vertical-align: middle;
    overflow: hidden;
}

.control-padding {
    padding: 4px 7px;
}

.control-bigfont {
    font-size: 110%;
}

.mapnik_gray {
    filter: grayscale(1);
}

.leaflet-control.control-button {
    cursor: pointer;
}

.leaflet-control.control-button:hover {
    background-color: #f4f4f4;
}

::placeholder {
    color: gainsboro;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    margin: 0;
}

select,
input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

.leaflet-marker-icon.cut-icon {
    background: #fffc7e;
    color: black;
    border-radius: 50%;
    line-height: 5px;
    border: 2px solid #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
}

.cut-icon:hover {
    border: 2px solid darkgreen;
}

// lane-info

.tags-block {
    padding: 5px;
}

.tags-block_right {
    background-color: #ffe5c6;
}

.tags-block_left {
    background-color: #e1dbfa;
}

.tags-block__tag {
    margin: 0;
}

.all-tags {
    padding-top: 5px;
    color: #606060;
}

.all-tags__summary {
    cursor: pointer;
}

.all-tags__tag--highlight {
    font-weight: 600;
}

.all-tags table tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.all-tags table td {
    max-width: 250px;
    word-break: break-word;
}

// editor-panel

.leaflet-control-layers .editor-form__side-switcher {
    display: inline;
    cursor: pointer;
}

.editor-form__side-switcher-checkbox {
    display: inline;
    vertical-align: top;
    cursor: pointer;
}

.editor-form__cut-button {
    float: right;
    padding: 0 2px;
    border: 0;
    border-radius: 2px;
    font-size: 120%;
    background: transparent;
    cursor: pointer;
}

.editor-form__cut-button:hover {
    background: #f4f4f4;
}

.sign-preset {
    margin: 2px;
    cursor: pointer;
}

// github control

.leaflet-control-layers .editor-mode,
.editor-mode {
    display: inline;
    cursor: pointer;
}

.editor-mode__checkbox {
    display: inline;
    vertical-align: top;
    margin: 3px 3px 3px 0;
}

// save control

.leaflet-control.save-control {
    background-color: yellow;
}

.leaflet-control.save-control:hover {
    background-color: #f4f400;
}

// fetch control

.fetch-control {
    position: relative;
    z-index: 801;
}

.fetch-control_wrapper {
    display: flex;
}

.fetch-control_button {
    padding: 4px 7px;
    cursor: pointer;
}

.fetch-control_button:hover {
    border-radius: 5px 0 0 5px;
    background-color: #f4f4f4;
}

.fetch-control_items {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
}

.fetch-control.opened > .fetch-control_items {
    display: block;
}

.fetch-control_item {
    padding: 4px 7px;
    cursor: pointer;
}

.fetch-control_item:hover {
    background: #f4f4f4;
}

.fetch-control_item--selected {
    background: #dedede;
}

.fetch-control_toggle {
    padding: 4px 7px;
    cursor: pointer;
}

.fetch-control_toggle:hover {
    border-radius: 0 5px 5px 0;
    background-color: #f4f4f4;
}

.fetch-control_toggle::after {
    content: '▽';
}

.fetch-control.opened .fetch-control_toggle::after {
    content: '△';
}
