$font-size: 1rem;

html {
    font-size: $font-size;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    height: 100dvh;
}

body * {
    box-sizing: border-box;
}


.legend__element {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.legend__line {
    width: 30px;
    height: 3px;
}

.control-padding {
    padding: 4px 7px;
}

.control-bigfont {
    font-size: 14px;
}

.mapnik_gray {
    filter: grayscale(1);
}

.control-button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.control-button:hover {
    background-color: #f4f4f4;
}

::placeholder {
    color: gainsboro;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    margin: 0;
}

.leaflet-marker-icon.cut-icon {
    background: #fffc7e;
    color: black;
    border-radius: 50%;
    line-height: 5px;
    border: 2px solid #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140%;
}

.cut-icon:hover {
    border: 2px solid darkgreen;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
}

#map {
    margin: 0;
    height: 100%;
}

// lane-info

.panel {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 5px;
}

.datetime {
    max-width: 150px;
    min-width: 0;
}

.osm-entity__close {
    display: none;
}

@media (max-width: 499px) {
    .osm-entity {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99999;
        max-height: 50vh;
        overflow: scroll;
        padding: 14px 7px 4px;
        border-radius: 6px 6px 0 0;
        box-shadow: 0px 4px 20px rgba(0,20,36,.1);
        background: #fff;
    }

    .osm-entity__top-hr {
        display: none;
    }

    .osm-entity__editors {
        display:  none;
    }
    
    .osm-entity__close {
        display: unset;
        border: none;
        background: transparent;
        transform: rotate(45deg);
        font-size: 20px;
    }
}

.data-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: calc(100vw - 100px);
    gap: 5px;
}

.data-controls__right {
    display: flex;
    align-items: center;
    gap: 5px;
}

#lane-control {
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 240px);
    overflow: auto;
}

.tags-block {
    padding: 5px;
}

.tags-block_right {
    background-color: #ffe5c6;
}

.tags-block_left {
    background-color: #e1dbfa;
}

.tags-block__tag {
    margin: 0;
}

.all-tags {
    padding-top: 5px;
    color: #606060;
}

.all-tags__summary {
    cursor: pointer;
}

.all-tags__tag--highlight {
    font-weight: 600;
}

.all-tags table tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.all-tags table td {
    max-width: 250px;
    word-break: break-word;
}

// editor-panel

.editor-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.editor-form__utils {
    display: flex;
    gap: 5px;
}

.editor-form__side-switcher {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.editor-form__side-switcher-checkbox {
    display: inline;
    vertical-align: top;
    cursor: pointer;
}

.editor-form__cut-button {
    float: right;
    padding: 0 2px;
    border: 0;
    border-radius: 2px;
    font-size: 120%;
    background: transparent;
    cursor: pointer;
}

.editor-form__cut-button:hover {
    background: #f4f4f4;
}

.tag-editor__key {
    vertical-align: baseline;
}

.tag-editor__inputs {
    display: flex;
    align-items: center;
    gap: 3px;
}

.tag-editor__inputs--conditional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 499px) {
    .tag-editor__key {
        max-width: 30vw;
        overflow: auto;
    }
    .tag-editor__inputs {
        max-width: 60vw;
        overflow: auto;
    }
    .tag-editor__input {
        width: unset;
        max-width: 100%;
    }
    .tag-editor__select {
        width: unset;
    }
    .tag-editor__inputs--conditional .tag-editor__input,
    .tag-editor__inputs--conditional .tag-editor__select {
        max-width: 30vw;
    }
}

.sign-preset {
    margin: 2px;
    cursor: pointer;
}

.conditional-tag-part {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.conditional-tag-part__condition {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.updated-tags__table {
    border-width: 0;
    border-collapse: collapse;
}

.updated-tags__table tbody {
    vertical-align: top;
}

.updated-tags__table thead tr,
.updated-tags__table tr:nth-child(2n) {
    background-color: #f4f4f4;
}

// github control

.leaflet-control-layers .editor-mode,
.editor-mode {
    display: inline;
    cursor: pointer;
}

.editor-mode__checkbox {
    display: inline;
    vertical-align: top;
    margin: 3px 3px 3px 0;
}

// save control

.save-control {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    background-color: yellow;
    padding: 4px 7px;
    cursor: pointer;
}

.save-control:hover {
    background-color: #f4f400;
}

@media (max-width: 499px) {
    .save-control_button-text {
        display: none;
    }
}

// fetch control

.fetch-control {
    position: relative;
    background: #f5f5f5;
    border-radius: 3px;
}

.fetch-control_wrapper {
    display: flex;
}

.fetch-control_button {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    padding: 4px 7px;
    cursor: pointer;
}

.fetch-control_button:hover {
    border-radius: 5px 0 0 5px;
    background-color: #ececec;
}

@media (max-width: 499px) {
    .fetch-control_button-text {
        display: none;
    }
}

.fetch-control_items {
    position: absolute;
    right: 0;
    background: #fff;
}

.fetch-control_item {
    padding: 4px 7px;
    cursor: pointer;
    white-space: nowrap;
}

.fetch-control_item:hover {
    background: #f4f4f4;
}

.fetch-control_item--selected {
    background: #dedede;
}

.fetch-control_toggle {
    padding: 4px 7px;
    cursor: pointer;
}

.fetch-control_toggle:hover {
    border-radius: 0 5px 5px 0;
    background-color: #ececec;
}

.fetch-control_toggle::after {
    content: '▽';
}

.fetch-control.opened .fetch-control_toggle::after {
    content: '△';
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    padding: 15px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 30px 30px rgb(0 20 36 / 10%);
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal_close {
    cursor: pointer;
}

.modal__title {
    font-size: 18px;
}

.modal__subtitle {
    font-size: 14px;
}

.modal__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}
